<section
  class="w-full bg-center bg-cover pt-14 h-fit sm:pt-0 sm:h-screen min-h-fit"
  style="background-image: url('hello-section-image.png')"
>
  <div
    class="flex justify-center size-full sm:py-12 min-h-fit sm:px-6 bg-linear-to-t from-slate-600 to-transparent"
  >
    <div class="flex items-center w-full max-w-7xl min-h-fit">
      <div
        class="flex flex-col justify-center max-w-2xl gap-6 p-6 py-12 border-b border-gray-400 sm:gap-12 backdrop-blur-md sm:backdrop-blur-2xl bg-sky-100/20 sm:border sm:rounded-3xl sm:py-6"
      >
        <h1
          class="text-3xl font-bold min-[340px]:text-4xl min-[430px]:text-5xl min-[530px]:text-6xl"
        >
          Ремонт промышленного холодильного оборудования
        </h1>
        <p class="max-w-4xl text-lg leading-normal sm:text-xl w-fit">
          Профессиональное обслуживание, монтаж и комплексный ремонт чиллеров,
          холодильных камер и морозильных установок для бизнеса любого масштаба.
        </p>
        <div class="flex flex-col w-full gap-2 text-lg md:flex-row sm:text-xl">
          <a
            routerLink="/"
            class="w-full max-w-full px-6 py-3 font-bold text-black bg-white rounded-full md:max-w-fit hover:bg-stone-300 active:bg-stone-300"
          >
            Консультация
          </a>
          <a
            routerLink="/"
            class="w-full max-w-full px-6 py-3 font-bold border border-white rounded-full md:max-w-fit hover:bg-stone-100/10 active:bg-stone-100/10"
          >
            Наши услуги
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
