<section
  class="w-full bg-center bg-cover pt-14 h-fit sm:pt-0 sm:h-screen min-h-fit"
  style="background-image: url('hello-section-image.png')"
>
  <div class="flex justify-center size-full sm:py-12 min-h-fit sm:px-6">
    <div class="flex items-center w-full max-w-7xl min-h-fit">
      <div
        class="flex flex-col justify-center max-w-2xl gap-6 p-6 py-12 text-palette-950 sm:gap-12 backdrop-blur-md sm:backdrop-blur-2xl bg-hello-section-bg sm:rounded-xl sm:py-6"
      >
        <h1
          class="text-3xl font-bold min-[340px]:text-4xl min-[430px]:text-5xl min-[530px]:text-6xl"
        >
          Ремонт промышленного холодильного оборудования
        </h1>
        <p class="max-w-4xl text-lg leading-normal sm:text-xl w-fit">
          Профессиональное обслуживание, монтаж и комплексный ремонт чиллеров,
          холодильных камер и морозильных установок для бизнеса любого масштаба.
        </p>
        <div class="flex flex-col w-full gap-2 text-lg md:flex-row sm:text-xl">
          <a
            routerLink="/"
            class="w-full max-w-full px-6 py-3 font-bold text-white bg-palette-950 rounded-xl md:max-w-fit hover:bg-palette-700 active:bg-palette-700"
          >
            Консультация
          </a>
          <a
            routerLink="/"
            class="w-full max-w-full px-6 py-3 font-bold border border-palette-950 rounded-xl md:max-w-fit hover:bg-link-hover active:bg-link-hover"
          >
            Наши услуги
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
